* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(218, 218, 218);
}

#mainNavbar {
    background-color: rgba(0, 102, 255, 0.74);
}

#mainNavbar .logo {
    transform: translateX(100px);
}

.navbar-nav {
    width: 950px;
}

.navbar-nav a {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    margin: auto;
    text-decoration: none;
}

#navbarNavAltMarkup {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#navbarNavAltMarkup a {
    color: white;
}

.dropdown-item:hover {
    background-color: rgba(0, 102, 255, 0.74);
}

.kontejner {
    display: grid;
    grid-template-columns: 30rem 20rem 30rem;
    grid-auto-flow: row;
    justify-content: center;
    column-gap: 40px;
    align-items: flex-end;
}

.card {
    position: relative;
    top: 80px;
}

#trener {
    max-width: 100%;
}

.pobidka {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 350px;
    left: 25%;
    text-align: left;
    opacity: 0;
    transition: 1s all ease-in-out;
    width: 800px;
}

.pobidka-uka {
    opacity: 1;
}

.pobidka h1 {
    font-size: 5em;
    text-transform: uppercase;
}

.pobidka h3 {
    font-size: 3em;
}

.formicka {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgba(0, 102, 255, 0.74);
    position: relative;
    bottom: -10px;
    left: 400px;
    padding: 20px;
    border-radius: 10px;
}

.formicka label {
    color: white;
}

.formicka button {
    margin: auto;
    display: flex;
    transform: translateX(160px);
}

.spodek {
    background: rgb(94, 94, 94);
    width: 100%;
    padding: 40px;
    margin-top: 170px;
}

.footer-navi ul {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: auto;
}

.footer-navi li {
    text-decoration: none;
    list-style: none;
    margin: auto;
}

.footer-navi li a {
    color: white;
    font-size: 1.25em;
}

.footer-navi li a:hover {
    text-decoration: none;
}

.spodek span {
    margin-top: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}